jieba
numpy
pandas
tqdm
datasets
pandas
tqdm
numpy==1.24.4
openai==1.6.1
zhipuai==2.0.1
icetk==0.0.7
rouge==1.0.1
jieba==0.42.1
accelerate==0.23.0
flash-attn==2.3.2
tokenizers==0.14.1
tiktoken==0.5.1
torch==2.1.1
transformers==4.35.0
